@model UserStoryApp.Models.Story

@{
    ViewBag.Title = "IndexRoot";
}




<h2>Home</h2>
<table>
    <tr>
        <th>
            @Html.Raw("Welcome!")
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => Model.Narrative)
        </td>
        <td>
            @Html.ActionLink("Details", "../Story/Details", new { id = Model.Id }) 
        </td>
    </tr>
</table>